---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
      </div>
    </div>

    <main class="site__content">
      <section class="blog">
        <div class="container">

          <div>
            <div style="margin-top:10vh"></div>
            <div style="display:flex; align-items:center; justify-content: space-between;">
              <div>
                <div style="font-weight:bold; font-size:2rem; margin-bottom:1.7vh;">박윤희 (Scarlet)</div>
                <div style="font-weight:400; font-size:1.2rem; margin-bottom:1.7vh;"><span style="font-weight:bold;">연락처 : </span>010-6504-8205</div>
                <div style="font-weight:400; font-size:1.2rem; margin-bottom:1.7vh;"><span style="font-weight:bold;">이메일 : </span>scarlet94.park@gmail.com</div>
                <div style="font-weight:400; font-size:1.2rem; margin-bottom:2vh;"><span style="font-weight:bold;">소셜 : </span><span><a href=" https://www.linkedin.com/in/%EC%9C%A4%ED%9D%AC-%EB%B0%95-4b04a0244/" style="text-decoration:none;"><img src='../assets/img/posts/linked-in.png' style="width:1.5rem;"/></a></span></div>

                <div style="font-weight:400; font-size:1.2rem; margin-bottom:1.3vh;"><span style="font-weight:bold;">경력사항</span> (주)유노믹 <span style="margin:0 2vw 0 2vw;">선임 연구원 (ELFiN Alpha 팀)</span> <span>2019.10 ~ 2019.09 (3년)</span></div>
              </div>
              <div><img src='../assets/img/posts/me.png' style="width:16vw; height:16vw;"/></div>
            </div>
            <img src="../assets/img/posts/about_me.png" width="450px" height="300px" title="about_me" style="width:60vw; margin:5vh auto; display:block;"></img><br/>
          </div>


          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
